# Telegram credentials  t.me/ChimeraCorporationXBot
ENV_TELEGRAM_BOT_TOKEN=7655635056:AAGV4kmQhaLOZiH2LbeSEU4DCX-rrKQy7XI
ENV_TELEGRAM_BOT_NAME=ChimeraCorporationXBot

VONAGE_API_SECRET=xxxx
VONAGE_API_KEY=1234
